<%= link_to 'New Post', posts_new_path,class:"btn btn-primary" %>
<div class="row">
 	<% @posts.each do |post| %>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
		            <div class="embed-responsive embed-responsive-4by3">
				            <p><h5>Title</h5></p>
				            <p class="p"><h3><%= post.title %></h3></p>
				            <p>By: </p>
				            <p></p>
				            <h5><%= post.user.email %></h5>
		            </div>

		            <div class="caption">
		                <p><%= post.like %></p>
		                <p><%= button_to 'Like' ,update_like_path(post) %><%= link_to "Show", post_path(post), class: "btn btn-primary" %> </p>
		        	</div>
            </div>
            
        </div>

    <% end %>
</div>

