
<% if current_user == @post.user %>
			    <td><%= link_to 'Edit', edit_post_path(@post), class:"btn btn-warning" %></td>
			    <td><%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-danger" %></td>
<% end %>
			    <table class="table table-striped table-hover">
			  <tr>
			    <td>Title</td>
			    <td>Content</td> 
			  </tr>
			  
			  <tr>
			    <td><%= @post.title %></td>
			    <td><%= @post.body %></td> 
			    
			  </tr>	
</table>
<%= link_to 'Back', root_path, class:"btn btn-success" %>


<%= form_for @comment do |f| %>
	<%= f.text_field :content %>
	<%= f.submit "Comment" %> 
<% end %>



<table class="table table-striped table-hover">
			  <tr>
			    <td>Content</td>
			    <td></td>
			    <td>User</td>
			  </tr>
			  <% @post.comments.each do |c| %>
			  <tr>
			    <td><%= c.content %></td>
			    <td><p class="date">
				            	Submitted <%= time_ago_in_words(c.created_at)%>Ago
				            </p></td>
			    <td><%= c.user.email %></td>
			    
			    
			    <td><%= link_to 'Delete',delete_comments_path(c), method: :delete, data: {confirm: "sure?"} %></td>
			    
			    <td></td>
			    <%end%>
			  </tr>
			  
			
</table>

